.card {
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 6px;
    color: #000000;
    overflow: hidden;
}

.card-white {
    background-color: var(--white);
}

.card-blue {
    background-color: var(--blue);
}

.card-red {
    background-color: var(--red);
}

.card-gray {
    background-color: var(--dark);
    color: var(--white);
}

.card-media > img {
    max-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    object-position: 50% 50%;
}