input, label {
  display:block;
}

label {
  margin: 8px 0px;
}

input[type=text] {
  width: 80%;
  padding: 12px 10px;
  border: 1px solid var(--gray);
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="password"] {
    width: 80%;
  padding: 12px 10px;
  border: 1px solid var(--gray);
  border-radius: 4px;
  box-sizing: border-box;
  /* padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  box-sizing: border-box;
  margin-bottom: 20px; */
  /* border-radius: 4px; */
}

form > label {
  padding: 10px;
  font-size: 17px;
  float: left;
  width: 100%;
}
/* Style the submit button */
.btn-submit {
  position: relative;
  clear: both;
  float: left;
  left: 30%;
  width: 20%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

.btn-submit:hover {
  background: #0b7dda;
}

/* Clear floats */
.subscribe::after {
  content: "";
  clear: both;
  display: table;
}
