.jumbotron {
    max-width: 100%;
    background-color: var(--dark);
    height: 400px;
}

.jumbotron-bg {
    background-image: url("../assets/movies.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    height: 100%;
}

.jumbotron-inner {
    text-align: center;
    padding: 200px 0px 180px 0px;   
}