:root {
  --blue: #1982C4;
  --white: #FFFBF5;
  --grey: #727B82;
  --dark: #292F36;
}

.html .body {
    margin: 0;
    padding: 0;
    background-color: var(--dark);
}

button.btn, a.btn {
    display: inline-flex;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 600;  
    -webkit-appearance: none;
    appearance: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px 0;  
    transition: all .15s;
    text-decoration: none;
    cursor: pointer;
    box-shadow: none;
    text-align: center;
    color: #ffffff;
}

.btn.btn-blue {
    background-color: var(--blue);
}

.btn.btn-red {
    background-color: var(--);
}