:root {
  --blue: #1982c4;
  --white: #fffbf5;
  --gray: #727b82;
  --dark: #292f36;
  --red: #cc2936;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--dark);
  color: var(--white);
  font-family: "Roboto", sans-serif;
}

.container {
  width: 75%;
  margin: 0 auto;
}

.footer {
  background-color: var(--gray);
  /* height: 200px; */
}

.logo {
  padding: 15px 20px;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--red);
  background-color: var(--white);
  border-radius: 4px;
}

.image {
  border-radius: 6px;
  /* -webkit-box-shadow: 4px 4px 7px 1px rgba(46, 50, 54, 0.63); 
  box-shadow: 4px 4px 7px 1px rgba(62, 63, 65, 0.63); */
  max-width: 100%;
}

.text-dark {
  color: #000000;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 32px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}