:root {
  --blue: #1982C4;
  --white: #FFFBF5;
  --gray: #727B82;
  --dark: #292F36;
  --red: #CC2936
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--dark);
    color: var(--white);
    font-family: 'Roboto', sans-serif;
}

.logo {
    padding: 15px 20px;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--red);
    background-color: var(--white);
    border-radius: 4px;
}