.navigation-inner {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    z-index: 5;
    width: 100%;
}

.navigation-inner > .navigation-left {
  float: left;
}

.navigation-inner > .navigation-right {
  float: right;
}

.navigation-item {
  display: inline-block;
}

.navigation-item > a {
  margin: 15px;
  border-radius: 4px;
  display: inline-block;
  color: var(--white);
  text-align: center;
  padding: 15px;
  font-size: 1.1rem;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-item > .navigation-btn {
  background-color: var(--red);
  margin: 15px;
  border-radius: 6px;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  outline: none;
}

.navigation-item > .navigation-btn:hover {
  background-color: white;
  color: var(--red);
  font-weight: 700;
}

.navigation-item > .navigation-logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--red);
  background-color: var(--white);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.navigation-link {
    position: relative;
}

.navigation-link::after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: 10px;

    margin: 0 auto;
    left: 0;
    right: 0;
    width: 50%;
    background: var(--red);
    
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.navigation-link:hover::after {
    width: 80%;
}

.navigation-item > .active {
  background-color: var(--red);
}
