.navigation-inner {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    z-index: 9;
    width: 100%;
}

.navigation-inner > .navigation-left {
    float: left;
}

.navigation-inner > .navigation-right {
    float: right;
}

.navigation-item {
    display: inline-block;
}

.navigation-item > a {
    margin: 20px;
    border-radius: 4px;
    display: inline-block;
    color: var(--white);
    text-align: center;
    padding: 15px 20px;
    font-size: 1.1rem;
}

.navigation-item > .navigation-btn {
    background-color: var(--red);
    text-decoration: none;
}

.navigation-item > .navigation-link {
    margin: 20px;
    border-radius: 4px;
    font-weight: 700;
    display: inline-block;
    color: var(--white);
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: capitalize;
}

.navigation-button a {
    margin: 20px;
    background-color: var(--red);
    border-radius: 4px;
    display: inline-block;
    color: var(--white);
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;

}

.navigation-link:hover:not(.active) {
    background-color: var(--blue);
}

.navigation-item > .active {
    background-color: var(--red);
}